<!DOCTYPE html>
@inject SignInManager<IdentityUser> SingInManager;
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/mystyle.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery/jquery.validate.js"></script>
    <script src="~/lib/jquery/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" asp-action="index" asp-controller="home">
                <img src="~/images/brand.jpg" height="30" width="30" />
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" 
                    data-target="#collasibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collasibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a asp-action="index" asp-controller="home" class="nav-link">List</a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="create" asp-controller="home" class="nav-link">Create</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    @if (SingInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <form method="post" asp-controller="account" asp-action="logout">
                                <button type="submit" class="nav-link btn py-0" style="width:auto">
                                    Logout @User.Identity.Name
                                </button>
                            </form>
                        </li>
                    }
                    else
                    {

                        <li class="nav-item">
                            <a asp-action="Register" asp-controller="account" class="nav-link">Register</a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Login" asp-controller="account" class="nav-link">Login</a>
                        </li>

                    }
                </ul>
            </div>

        </nav>
        <div >
            @RenderBody()
        </div>
        @if (IsSectionDefined("Scripts"))
        {
            @RenderSection("Scripts", required: true)
        }
    </div>
</body>
</html>
